<div class="row">
    <div class="col-md-12">
        <label>Kết Quả:</label>
    </div>
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <tr>
                <th>URL</th>
            </tr>
        </table>
    </div>
</div>
